.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.wrapper .content {
  position: absolute;
  min-width: 300px;
  min-height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
}

.wrapper .content .fileBrowser {
  width: 80vw;
  height: 80vh;
}

.wrapper .content .fileBrowser .noIdAndSecret {
  padding: 16px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
}

.wrapper .content .fileBrowser .noIdAndSecret code {
  display: block;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 8px;
  margin-top: 8px;
  color: #000;
}
