@keyframes imperative__slideInRight {
  from {
    transform: translate3d(110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes imperative__slideInLeft {
  from {
    transform: translate3d(-110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes imperative__slideInUp {
  from {
    transform: translate3d(0, 110%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes imperative__slideInDown {
  from {
    transform: translate3d(0, -110%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes imperative__slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(110%, 0, 0);
  }
}

@keyframes imperative__slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(-110%, 0, 0);
  }
}

@keyframes imperative__slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 500px, 0);
  }
}

@keyframes imperative__slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -500px, 0);
  }
}

.imperative__slide-enter--top-left,
.imperative__slide-enter--bottom-left {
  animation: imperative__slideInLeft 0.5s ease;
}
.imperative__slide-enter--top-right,
.imperative__slide-enter--bottom-right {
  animation: imperative__slideInRight 0.5s ease;
}
.imperative__slide-enter--top-center {
  animation: imperative__slideInDown 0.5s ease;
}
.imperative__slide-enter--bottom-center {
  animation: imperative__slideInUp 0.5s ease;
}

.imperative__slide-exit--top-left,
.imperative__slide-exit--bottom-left {
  animation: imperative__slideOutLeft 0.5s ease;
}
.imperative__slide-exit--top-right,
.imperative__slide-exit--bottom-right {
  animation: imperative__slideOutRight 0.5s ease;
}
.imperative__slide-exit--top-center {
  animation: imperative__slideOutUp 0.5s ease;
}
.imperative__slide-exit--bottom-center {
  animation: imperative__slideOutDown 0.5s ease;
}
