/* .heti p>img {
  width: 100%;
} */

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

code {
  color: #f81ce5;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 0.9em;
  white-space: pre-wrap;
}

.dark code {
  color: #79ffe1;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 0.9em;
  white-space: pre-wrap;
}

a {
  color: #0070f3;
}

blockquote {
  line-height: 1.8;
  border: 1px solid #666;
  color: #666;
  background-color: #fff;
  border-radius: 6px;
  font-size: calc(0.875 * 16px);
  width: auto;
  height: auto;
  padding: calc(0.667 * 16px) calc(1.32 * 16px) calc(0.667 * 16px) calc(1.32 * 16px);
  margin: 0 0 0 0;
}

.dark blockquote {
  line-height: 1.8;
  border: 1px solid #888;
  color: #888;
  background-color: #000;
  border-radius: 6px;
  font-size: calc(0.875 * 16px);
  width: auto;
  height: auto;
  padding: calc(0.667 * 16px) calc(1.32 * 16px) calc(0.667 * 16px) calc(1.32 * 16px);
  margin: 0 0 0 0;
}