/* .heti p>img {
  width: 100%;
} */

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

code {
  color: #f81ce5;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 0.9em;
  white-space: pre-wrap;
}

.dark code {
  color: #79ffe1;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 0.9em;
  white-space: pre-wrap;
}

a {
  color: #0070f3;
}

blockquote {    
  padding: 0 1em;
  color: #57606a;
  border-left: 0.25em solid #d0d7de;
  margin: 0 0 0 0;
}

.dark blockquote {
  padding: 0 1em;
  color: #8b949e;
  border-left: 0.25em solid #30363d;
  margin: 0 0 0 0;
}

iframe {
  width: 100%;
  min-height: 400px;
}